.view-bar.container-fluid.row{
    margin-bottom: 2px;
    margin-top: 2px;
}

.cards-wrapper
{
    padding: 0;
}

.card
{
    margin: 0 5% 5% 0;
}

.cards-wrapper
{
    margin-top: 2em;
}

.grid-view
{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    justify-content: center;

}

.list-view
{

}